#friends-display-link {
  margin-top: 15px;
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 17px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  margin: 0px var(--horizontal-space);
}
.friends-screen__channel {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  color: rgba(0, 0, 0, 0.5);
}
